ion-content.customStyle{
	background-color:var(--ion-color-primary-contrast);
	background-repeat:no-repeat;
	background-size: cover;

	ion-card{
		background:#0000002e;
	}
	h2{
		color:var(--ion-color-primary-contrast);
	}
	ion-list{
		background:#0000002e;
	}
	ion-item{
		--background:transparent;
		color:var(--ion-color-primary-contrast);
	}
	.input{
		--background: var(--ion-color-light);
		color: var(--ion-color-light-contrast);
		--border-radius	: 5px;
		width: 100%;
		--inner-border-width:0px!important;
		--border-width:0px!important;
	}
	.iconColor{
		color: var(--ion-color-primary-contrast);

	}
	ion-item.screenTitle{
		--background:#0000002e;
		ion-note{
			font-size:24px;
			color:var(--ion-color-primary-contrast);
		}
	}
}



@media(max-width: 800px) {
	ion-card{
		margin-left: 	0px;
		margin-right: 	0px;
	}
}


.projectCard{
	@media(max-width: 800px) {
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 20px;
		padding-bottom: 0px;
		ion-textarea, ion-input, ion-text{
			font-size: smaller;
		}		
	}
}
.cell{
	min-height:248px;
	background-color: var(--ion-color-light)
}
.cellClickable{
	cursor:pointer;
}

.highCell{
	height:497px;
	background-color: var(--ion-color-light)
}
.smallerCell{
	min-height:240px;
}
.logo{
	max-height: 30px;
}

.stepDone{
	color: var(--ion-color-primary);
}
.fullWidth{
	width:100%;
	text-align: center;
}
.fillItButton{
	margin-left:auto;
	margin-right: auto;
}

.nomargin{
	margin-top:0px!important;
	padding-top: 0px;
}
.inlineField:hover{
	cursor:pointer;
	background-color: var(--ion-color-light-shade);
	color: var(--ion-color-light-contrast);
	width:100%
}

.input{
	--background: var(--ion-color-light);
	--border-radius	: 5px;
	width: 100%;
	--inner-border-width:0px!important;
	--border-width:0px!important;

}
.toFill{
	border:1px solid var(--ion-color-primary);
	color: var(--ion-color-primary);
	background: none;
}
.item{
	width: 100%;
	text-align: left;
	font-weight: normal;
	.editIcon{
		position: absolute;
		right: 0px;
		margin-right: 4px;
	}
}

.socialNetwork{
	background-color: var(--ion-color-light);
	border:3px dashed   var(--ion-color-shade);
	border-radius: 3px;
	min-width:50px;
	min-height:94px;
	color: var(--ion-color-medium);
	ion-icon{
		cursor:pointer;
		font-size:55px;
	}
	@media(max-width: 800px) {
		min-width:40px;
		min-height:34px;
		padding: 10px;
		ion-icon{
			cursor:pointer;
			font-size:20px;
		}

	}
	@media(max-width: 800px) {
		min-width:40px;
		min-height:34px;
		padding: 5px;
	}
	.notFilled:hover{
		color: var(--ion-color-primary-shade);
	}
	.link{
		position:absolute;
		right: 10px;
		top: 4px;
		font-size:20px;

		ion-icon{
			cursor:pointer;
			font-size:20px;
			@media(max-width: 800px) {
				position: relative;
				top: -3px;
				right: -7px;
			}
		}

	}
	.filled{
		color: var(--ion-color-primary);
	}

}

.labelTop{
	min-width:130px;
}

.timeline{
	ion-col{
		cursor:pointer;
		border-radius: 4px;

	}
	h1{
		font-size: 20px;
	}
	.move{
		position: absolute;
		top: 26%;
		right: -48px;
		font-size: 75px;
		color: var(--ion-color-primary);
	}
	@media(max-width: 1000px) {
		h1{
			font-size: 1.3em;
		}
	}
	@media(max-width: 800px) {
		h1{
			font-size: 1em;
		}
		ion-col{
			margin:5px;
			padding:5px;
			border-radius: 4px;

		}
	}
	@media(max-width: 600px) {
		h1{
			font-size: 0.8em;
			margin:5px;
		}
		ion-col{
			margin:2px;
			padding:2px;
			border-radius: 4px;

		}
	}
	ion-icon{
		font-size:32px;
		@media(max-width: 600px) {
			font-size: 20px;
		}
	}
	ion-badge{
		position: absolute;
		right: 12px;
		@media(max-width: 600px) {
			font-size: 0.8em;
			padding: 2px;
			right: 6px;
		}
	}

	.done{
		background-color: var(--ion-color-primary);
		border:1px solid var(--ion-color-primary);
		color: var(--ion-color-primary-contrast);
		ion-badge{
			--background: var(--ion-color-primary-contrast);
			--color: var(--ion-color-primary);

		}
		.move{
			color: var(--ion-color-primary);
		}

	}
	.ongoing{
		background-color: var(--ion-color-secondary);
		border:1px solid var(--ion-color-secondary);
		color: var(--ion-color-secondary-contrast);
		ion-badge{
			--background: var(--ion-color-secondary-contrast);
			color: var(--ion-color-secondary);

		}
		.move{
			color: var(--ion-color-secondary);
		}



	}
	.todo{
		background-color: var(--ion-color-light);
		border:1px solid var(--ion-color-light);
		color: var(--ion-color );
		ion-badge{
			--background: var(--ion-color-light-contrast);
			color: var(--ion-color-light);
		}
		.move{
			color: var(--ion-color-light);
		}
	}
}

