.projectCard{
	@media(max-width: 800px) {
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 20px;
		padding-bottom: 0px;
	}
}
.cell{
	min-height:248px;
	background-color: var(--ion-color-light)
}
.cellClickable{
	cursor:pointer;
}

.highCell{
	height:497px;
	background-color: var(--ion-color-light)
}
.smallerCell{
	min-height:240px;
}
.logo{
	max-height: 30px;
}

.stepDone{
	color: var(--ion-color-primary);
}
.fullWidth{
	width:100%;
	text-align: center;
}
.fillItButton{
	margin-left:auto;
	margin-right: auto;
}

.nomargin{
	margin-top:0px!important;
	padding-top: 0px;
}
.inlineField:hover{
	cursor:pointer;
	background-color: var(--ion-color-light-shade);
	color: var(--ion-color-light-contrast);
	width:100%
}

.input{
	--background: var(--ion-color-light);
	--border-radius	: 5px;
	width: 100%;
	--inner-border-width:0px!important;
	--border-width:0px!important;

}
.toFill{
	border:1px solid var(--ion-color-primary);
	color: var(--ion-color-primary);
	background: none;
}
.item{
	width: 100%;
	text-align: left;
	font-weight: normal;
	.editIcon{
		position: absolute;
		right: 0px;
		margin-right: 4px;
	}
}

.socialNetwork{
	background-color: var(--ion-color-light);
	border:3px dashed   var(--ion-color-shade);
	border-radius: 3px;
	min-width:50px;
	min-height:94px;
	color: var(--ion-color-medium);
	ion-icon{
		cursor:pointer;
		font-size:55px;
	}
	@media(max-width: 800px) {
		min-width:40px;
		min-height:34px;
		padding: 10px;
		ion-icon{
			cursor:pointer;
			font-size:25px;
		}

	}
	@media(max-width: 800px) {
		min-width:40px;
		min-height:34px;
		padding: 5px;
	}
	.notFilled:hover{
		color: var(--ion-color-primary-shade);
	}
	.link{
		position:absolute;
		right: 10px;
		top: 4px;
		font-size:20px;

		ion-icon{
			cursor:pointer;
			font-size:20px;
			@media(max-width: 800px) {
				position: relative;
				top: -3px;
				right: -7px;
			}
		}

	}
	.filled{
		color: var(--ion-color-primary);
	}

}

.labelTop{
	min-width:130px;
}