<ion-content>


	<ion-card>
		<ion-card-content>
			<ion-list>
				<ion-item lines="none">
					<ion-text class="colLabel ion-margin-end">{{'PROJECT_SUMMARY.ProjectElevatorPitch' | translate }}</ion-text>
					<ion-item class="input">
						<ion-textarea class="ion-text-justify  " [(ngModel)]="project.summary.elevatorPitch" placeholder="Enter more information here..." (ionChange)="updateProject()"></ion-textarea>
					</ion-item>
					
				</ion-item>
				<ion-item lines="none" class="ion-margin-top">
					<ion-text class="colLabel ion-margin-end " >{{'PROJECT_SUMMARY.ProjectWebsiteUrl' | translate }}</ion-text>
					<ion-item class="input">
						<ion-input type="text" name="websiteUrl" class="ion-text-justify  " [(ngModel)]="project.summary.websiteUrl" placeholder="Enter more information here..." (ionChange)="updateProject()"></ion-input>
					</ion-item>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>



	<h2 class="ion-padding-start">{{'PROJECT_SUMMARY.BusinessCanvasTitle' | translate }}</h2>
	<ion-card *ngIf="project.summary">
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col>
						<app-business-canvas-element (changed)="elementUpdated($event)" elementType="Problem" [elementData]="project.businessCanvas.problem"></app-business-canvas-element>
						<app-business-canvas-element (changed)="elementUpdated($event)" elementType="ExistingAlternatives" [elementData]="project.businessCanvas.existingAlternatives"></app-business-canvas-element>

					</ion-col>
					<ion-col class="nomargin" >
						<ion-row>
							<ion-col>
								<app-business-canvas-element (changed)="elementUpdated($event)" class="smallerCell" elementType="Solution" [elementData]="project.businessCanvas.solution"></app-business-canvas-element>
								<app-business-canvas-element (changed)="elementUpdated($event)" class="smallerCell" elementType="KeyMetrics" [elementData]="project.businessCanvas.keyMetrics"></app-business-canvas-element>
							</ion-col>
						</ion-row>
					</ion-col>
					<ion-col>
						<app-business-canvas-element (changed)="elementUpdated($event)" class="highCell" elementType="UniqueValueProposition" [elementData]="project.businessCanvas.usp"></app-business-canvas-element>
						<app-business-canvas-element (changed)="elementUpdated($event)" class="highCell" elementType="KeyPartners" [elementData]="project.businessCanvas.keyPartners"></app-business-canvas-element>
					</ion-col>
					<ion-col class="nomargin">
						<ion-row>
							<ion-col>
								<app-business-canvas-element (changed)="elementUpdated($event)" class="smallerCell" elementType="UnfairAdvantage" [elementData]="project.businessCanvas.unfairAdvantage"></app-business-canvas-element>
								<app-business-canvas-element (changed)="elementUpdated($event)" class="smallerCell" elementType="Channels" [elementData]="project.businessCanvas.channels"></app-business-canvas-element>
							</ion-col>
						</ion-row>
					</ion-col>
					<ion-col>
						<app-business-canvas-element (changed)="elementUpdated($event)" class="smallerCell" elementType="CustomerSegmentation" [elementData]="project.businessCanvas.customerSegmentation"></app-business-canvas-element>
						<app-business-canvas-element (changed)="elementUpdated($event)" class="smallerCell" elementType="EarlyAdopters" [elementData]="project.businessCanvas.earlyAdopters"></app-business-canvas-element>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<app-business-canvas-element (changed)="elementUpdated($event)" class="smallerCell" elementType="CostStructure" [elementData]="project.businessCanvas.costStructure"></app-business-canvas-element>
						
					</ion-col>
					<ion-col>
						<app-business-canvas-element (changed)="elementUpdated($event)" class="smallerCell" elementType="RevenueStreams" [elementData]="project.businessCanvas.revenueStreams"></app-business-canvas-element>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<app-business-canvas-element (changed)="elementUpdated($event)" class="smallerCell" elementType="KeyActivities" [elementData]="project.businessCanvas.keyActivities"></app-business-canvas-element>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
</ion-content>
