.colLabel{
	max-width:200px;
	min-width: 110px;
}
.cell{
	min-height:248px;
	background-color: var(--ion-color-light)
}
.cellClickable{
	cursor:pointer;
}

.highCell{
	height:497px;
	background-color: var(--ion-color-light)
}
.smallerCell{
	min-height:240px;
}
.logo{
	max-height: 30px;
}

.stepDone{
	color: var(--ion-color-primary);
}
.fullWidth{
	width:100%;
	text-align: center;
}
.fillItButton{
	margin-left:auto;
	margin-right: auto;
}

.nomargin{
	margin-top:0px!important;
	padding-top: 0px;
}
.inlineField:hover{
	cursor:pointer;
	background-color: var(--ion-color-light-shade);
	color: var(--ion-color-light-contrast);
	width:100%
}

.input{
	--background: var(--ion-color-light);
	--border-radius	: 5px;
	width: 100%;
	--inner-border-width:0px!important;
	--border-width:0px!important;

}
.toFill{
	border:1px solid var(--ion-color-primary);
	color: var(--ion-color-primary);
	background: none;
}
.item{
	width: 100%;
	text-align: left;
	font-weight: normal;
	.editIcon{
		position: absolute;
		right: 0px;
		margin-right: 4px;
	}
}
