<ion-content>
	<div class="topPart">
		<ion-item lines="none"  class="closeItem">
			<ion-icon  slot="end" name="close-outline" class="pointer" (click)="dismiss()"></ion-icon>
		</ion-item>
		<h1 class="ion-text-center">Comments</h1>
	</div>
	<div>
		<ion-list>
			<ion-item  lines="none" *ngFor="let comment of comments" >
				<ion-avatar slot="start">				
				</ion-avatar>
				<ion-label>
					<h2><span class="userName">{{comment.data.createdBy}}</span> <span class="ion-margin-start">{{comment.data.createdAt |  date:'longDate'}}</span></h2>
					<p>{{comment.data.text}}</p>
				</ion-label>
			</ion-item>
		</ion-list>
	</div>
</ion-content>