.rightSide{
	height:100%;
	min-width:400px;

}
.timeline{
	height:100%;
}
.timelineWrapper{
	height:100%;
	overflow: auto;
	max-height: 100%;
	ion-grid, ion-row, ion-col{
		height:100%
	}
	angularx-timeline{
		
		height:100%
	}
	.timeline {
		overflow: 	auto;
	}
	.timelineComponent{
		list-style: none;
		margin: 50px 0 30px 120px;
		padding-left: 30px;
		border-left: 8px solid var(--ion-color-primary);
	}
	@media(min-width: 768px) {
		width:50%;

	}
}

.timelineWrapper::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.timelineWrapper::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.timelineWrapper::-webkit-scrollbar-thumb
{
	background-color:  var(--ion-color-primary);	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}


.verticalTimeline{
	border: 2px solid var(--ion-color-primary);
    position: absolute;
    left: 134px;
    height: 100%;
    background: var(--ion-color-primary);
}

.timelineContent{
	--background: var(--ion-color-primary-tint);
	color: var(--ion-color-primary-contrast);
	height: calc(100% - 30px);
	width:50%;
	min-width: 500px;
	position: absolute;
	overflow: auto;
	padding:12px;
	top:0px;
	right:-12px;
	z-index: 12;
	ion-card-header{
		--background: var(--ion-color-primary-tint);
		color: var(--ion-color-primary-contrast);
	}
	ion-card-content{
		--height: calc(100% - 200px);
		height: calc(100% - 200px);
	}
	.block{
		padding:5px;
		border: 1px #FFFFFF;
		border-style: dashed;
		border-radius: 3px;
	}
	.toolsWrapper{
		height: inherit;
	}
	.tools{
		height:-webkit-fill-available;
		overflow:auto;
	}
	.tool, .delivrable{
		color:var(--ion-color-primary-contrast);
	}
}

.notActive{
	right:-500px;
}
.active{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}