<ion-header *ngIf="isLogged === false" [ngClass]="{'testSystem' : isTestSystem ===true}">
	<ion-toolbar>
		<ion-title class="title">
			<img  src="assets/images/logo.svg" class="logo ion-margin-end" routerLink="/intl/fr" >
			<span >{{'LANDINGPAGE.Title' | translate}}
				<ion-badge class="beta  ion-hide-sm-down" (click)="displayQuestionModal()">Beta</ion-badge>
			</span>
		</ion-title>
		<ion-buttons slot="secondary" class="secondary  ">
			<ion-button (click)="openSolutionMenu($event)" class="ion-hide-sm-down ion-hide-md-down">
				{{'LANDINGPAGE.Title1' | translate}}<ion-icon name="chevron-down-outline"></ion-icon>
			</ion-button>
			<ion-button (click)="openProductMenu($event)" class=" ion-hide-md-down  ion-hide-lg-down" >
				{{'LANDINGPAGE.Title2' | translate}}<ion-icon name="chevron-down-outline"></ion-icon>
			</ion-button>
			<ion-button  (click)="presentPartnersPopover()"  class="ion-hide-lg-down">
				{{'LANDINGPAGE.Title3' | translate}}
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="primary">
			<ion-button color="secondary" fill="solid" class="ion-hide-sm-down" (click)="presentSignUpPopover()">
				{{'LANDINGPAGE.Register' | translate}}
			</ion-button>
			
			<ion-icon name="person-circle-outline" color="primary" (click)="presentLoginPopover()" size="large" class="ion-hide-sm-up" ></ion-icon>
			<ion-button color="primary" fill="solid"  (click)="presentLoginPopover()" class="ion-hide-sm-down" >
				{{'LANDINGPAGE.Connection' | translate}}
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-header [translucent]="true"  *ngIf="isLogged === true"  [ngClass]="{'testSystem': isTestSystem ===true}">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button autoHide="true" menu="mainMenu">
			</ion-menu-button>
		</ion-buttons>
		<ion-title class="headerTitle title">
			<img src="assets/images/logo.svg" class="logo ion-margin-end ion-hide-sm-down"  routerLink="/intl/fr" ><span>{{'LANDINGPAGE.Title' | translate}}<ion-badge class="beta  ion-hide-sm-down" (click)="displayQuestionModal()">Beta</ion-badge></span>
		</ion-title>
		<ion-buttons slot="secondary" class="secondary">
			<ion-button  (click)="displayRoadmap()"  class="ion-hide-md-down">
				<ion-label>{{'LANDINGPAGE.ProductMenuItem2' | translate}}</ion-label>
			</ion-button>
			<ion-button  (click)="presentPartnersPopover()"  class="ion-hide-lg-down ion-margin-end">
				{{'LANDINGPAGE.Title3' | translate}}
			</ion-button>
		</ion-buttons>
		<app-user-avatar slot="end"></app-user-avatar>
	</ion-toolbar>
</ion-header>