.input{
	--background: var(--ion-color-light);
	--border-radius	: 5px;
	width: 100%;
	--inner-border-width:0px!important;
	--border-width:0px!important;

}
.biggerFont{
	font-size: 	1.3em;
}
.rightMenu{
}
.pointer{
	cursor: pointer;
}
.actionColumn{
	min-width: 	140px;
}
.inputs{
	min-width:400px;
	@media(max-width: 500px) {
		min-width:100%;
	}
}

