<ion-content class="ion-padding">
	<ion-item lines="none">
		<ion-icon color="primary" slot="end" name="close-outline" class="pointer" (click)="dismiss()"></ion-icon>
	</ion-item>
	<ion-text>{{item.text}}</ion-text>
	<ion-grid>
		<ion-row>
			<ion-col size="8">
				<ion-text>
					<ion-input name="text" class="input biggerFont" [(ngModel)]="item.text"></ion-input>
				</ion-text>
				<ion-text><h2><ion-icon name="reorder-four-outline" class="ion-margin-end"></ion-icon>More details</h2></ion-text>
				<ion-item class="ion-margin-top">
					<ion-textarea class="input" [(ngModel)]="item.description"> </ion-textarea>
				</ion-item>
			</ion-col>
			<ion-col class="ion-margin-start ion-padding actionColumn" size="2">
				<h3>Actions</h3>
				<ion-button  size="small"  (click)="saveItem()" fill="outline">{{'PROJECT_SUMMARY.SaveItem' | translate }}</ion-button>
				<ion-button  size="small" (click)="deleteItem()" fill="outline">{{'PROJECT_SUMMARY.DeleteItem' | translate }}</ion-button>
			</ion-col>

		</ion-row>
	</ion-grid>

</ion-content>