<ion-content class="ion-padding">
	<ion-item lines="none">
		<ion-icon color="primary" slot="end" name="close-outline" class="pointer" (click)="dismiss()"></ion-icon>
	</ion-item>
	<h2><ion-text>{{title}}#{{index}}</ion-text></h2>
	<ion-grid>
		<ion-row>
			<ion-col class="inputs">
				<ion-textarea name="text" class="input" [(ngModel)]="item.text"></ion-textarea>
				<ion-text><h2><ion-icon name="reorder-four-outline" class="ion-margin-end"></ion-icon>More details</h2></ion-text>
				
				<ion-textarea class="input" [(ngModel)]="item.description"> </ion-textarea>
				
			</ion-col>
			<ion-col class="ion-margin-start ion-padding actionColumn" >
				<h2>Actions</h2>
				<ion-button  size="small"  (click)="saveItem()" fill="outline">{{'PROJECT_SUMMARY.SaveItem' | translate }}</ion-button>
				<ion-button  size="small" (click)="deleteItem()" fill="outline">{{'PROJECT_SUMMARY.DeleteItem' | translate }}</ion-button>
			</ion-col>

		</ion-row>
	</ion-grid>

</ion-content>