.header{
	background: var(--ion-color-primary);
	color: var(--ion-color-primary-contrast);

}
.closeItem{
	--background: var(--ion-color-primary);
	.pointer{
		color:var(--ion-color-primary-contrast);
		cursor: pointer;
	}
}
.main{
	
	.closeItem{
		--background: none;
	}

	.header{
		background: rgba(0, 0, 0, 0.2);
		color: var(--ion-color-primary-contrast);
	}
}
.mainContent{
	background: rgba(0, 0, 0, 0.3);
	color: var(--ion-color-primary-contrast);
	height: calc(100% - 141px);
}