<ion-grid class="ion-hide-lg-down">
	<ion-row>
		<ion-col>
		</ion-col>
		<ion-col class="start">
			<div class="topPart">
			</div>

			<div class="line ion-text-left">
				<ion-icon class="icon" name="help-outline"></ion-icon>

			</div>
			<div class="bottomPart ion-text-center	">
				<ion-text>{{'LANDINGPAGE.TimelineStep1IconText' | translate}}</ion-text>
			</div>
		</ion-col>
		<ion-col>
			<div class="topPart">
				{{'LANDINGPAGE.TimelineStep2TopText' | translate}}
			</div>
			<div class="line">

				<div class="title">
					{{'LANDINGPAGE.TimelineStep2LineText' | translate}} 
				</div>
				<div>
					<ul>
						<li>{{'LANDINGPAGE.TimelineStep2LineBottomText1' | translate}}</li>
						<li>{{'LANDINGPAGE.TimelineStep2LineBottomText2' | translate}}</li>
						<li>{{'LANDINGPAGE.TimelineStep2LineBottomText3' | translate}} </li>
					</ul>
				</div>
			</div>
		</ion-col>


		<ion-col>
			<div class="topPart">
			</div>

			<div class="line ion-text-center">
				<ion-icon class="icon" name="bulb-outline"></ion-icon>
			</div>
			<div class="bottomPart ion-text-center">
				<ion-text>{{'LANDINGPAGE.TimelineStep3IconText' | translate}}</ion-text>
			</div>
		</ion-col>
		<ion-col>
			<div class="topPart">
			</div>

			<div class="line turnaroundBottom ion-text-center">

			</div>

		</ion-col>
		<ion-col class="circular">
			<div class="circular-progress circular-progress-circle-right">
				<div class="circular-progress-circle ">

					<div class="segment" style="transform: rotate(-90deg) skew(180deg)"></div>    


				</div>
				<div class="circular-progress-inner"></div>
			</div>

		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col class="circular">
			<div class="circular-progress circular-progress-circle-left-bottom">
				<div class="circular-progress-circle ">

					<div class="segment" style="transform: rotate(180deg) skew(180deg)"></div>    


				</div>
				<div class="circular-progress-inner"></div>
			</div>
		</ion-col>
		<ion-col>
			<div class="topPart">
			</div>

			<div class="line ion-text-center">
				<ion-icon class="icon" name="rocket-outline"></ion-icon>
			</div>
			<div class="bottomPart">
				<ion-text>{{'LANDINGPAGE.TimelineStep5IconText' | translate}}</ion-text>
			</div>
		</ion-col>
		<ion-col>
			<div class="topPart">
				<ion-text>{{'LANDINGPAGE.TimelineStep4LineTopText' | translate}}</ion-text>
			</div>
			<div class="line">

				<div class="title">
					<ion-text>{{'LANDINGPAGE.TimelineStep4LineText' | translate}}</ion-text>
				</div>
				<div>
					<ul>
						<li>{{'LANDINGPAGE.TimelineStep4LineBottomText1' | translate}}</li>
						<li>{{'LANDINGPAGE.TimelineStep4LineBottomText2' | translate}}</li>
						<li>{{'LANDINGPAGE.TimelineStep4LineBottomText3' | translate}} </li>
					</ul>

				</div>
			</div>
		</ion-col>
		<ion-col>
			<div class="topPart">

			</div>
			<div class="line">

			</div>
		</ion-col>
		<ion-col class="circular">
			<div class="circular-progress circular-progress-circle-left">
				<div class="circular-progress-circle ">
					<div class="segment" style="transform: rotate(0deg) skew(180deg)"></div>    
				</div>
				<div class="circular-progress-inner"></div>
			</div>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col class="circular">
			<div class="circular-progress circular-progress-circle-right-bottom">
				<div class="circular-progress-circle ">

					<div class="segment" style="transform: rotate(90deg) skew(180deg)"></div>    


				</div>
				<div class="circular-progress-inner"></div>
			</div>
		</ion-col>
		<ion-col>
			<div class="topPart">
				<ion-text>{{'LANDINGPAGE.TimelineStep6LineTopText' | translate}}</ion-text>
			</div>
			<div class="line">

				<div class="title">
					<ion-text>{{'LANDINGPAGE.TimelineStep6LineText' | translate}}</ion-text>
				</div>
				<div >
					<ul>
						<li>{{'LANDINGPAGE.TimelineStep6LineBottomText1' | translate}}</li>
						<li>{{'LANDINGPAGE.TimelineStep6LineBottomText2' | translate}}</li>
						<li>{{'LANDINGPAGE.TimelineStep6LineBottomText3' | translate}} </li>
					</ul>

				</div>
			</div>
		</ion-col>
		<ion-col>
			<div class="topPart">
			</div>

			<div class="line ion-text-center">
				<ion-icon class="icon" name="contract-outline"></ion-icon>
			</div>
			<div class="bottomPart">
				<ion-text>{{'LANDINGPAGE.TimelineStep7IconText' | translate}}</ion-text>
			</div>
		</ion-col>
		<ion-col>
			<div class="topPart">
				<ion-text>{{'LANDINGPAGE.TimelineStep8LineTopText' | translate}}</ion-text>
			</div>
			<div class="line">

				<div class="title">
					<ion-text>{{'LANDINGPAGE.TimelineStep8LineText' | translate}}</ion-text>

				</div>
				<div>
					<ul>
						<li>{{'LANDINGPAGE.TimelineStep8LineBottomText1' | translate}}</li>
						<li>{{'LANDINGPAGE.TimelineStep8LineBottomText2' | translate}}</li>
						<li>{{'LANDINGPAGE.TimelineStep8LineBottomText3' | translate}} </li>
					</ul>

				</div>
			</div>
		</ion-col>
		<ion-col class="end">
			<div class="topPart">
			</div>

			<div class="line ion-text-center">
				<ion-icon class="icon" name="trending-up-outline"></ion-icon>
			</div>
			<div class="bottomPart">
				<ion-text>{{'LANDINGPAGE.TimelineStep9IconText' | translate}}</ion-text>
			</div>

		</ion-col>
	</ion-row>
</ion-grid>



<img src="assets/images/journey_mobile.png" class="ion-margin timelinePicture ion-hide-lg-up">