	ion-grid{
		min-width: 	1030px;
		padding:0px;
		position:relative;
		left:-64px;
	}
	
	ion-col{
		padding:0px;
		margin:0px;
		height:140px;
	}
	.topPart{
		height:20px;	
		width:max-content;	
		position: relative;
		bottom: -29px;
		font-weight:bold;
		color: var(--ion-color-dark);
		font-style: italic;
	}
	.line{
		height:100px;
		background-repeat: no-repeat;
		background-size: 100% 40px;
		background-position: 0 50%;
		transition: background-size 0.25s ease-in;
		background-image: linear-gradient(to right, var(--ion-color-primary) 0%, var(--ion-color-primary));

	}
	.bottomPart{
		position: relative;
		z-index: 3;
		top:-12px;
		color:var(--ion-color-primary);
	}
	.turnaroundBottom{

	}
	.line {
		ion-icon{
			position: relative;
			left: 0px;
			font-size: 2em;
			background: var(--ion-color-primary);
			color: var(--ion-color-primary-contrast);
			border: 3px solid var(--ion-color-primary-contrast);
			border-radius: 50%;
			top: 19px;
			padding: 12px;
			z-index:3;
			box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);

		}
		.title{
			padding-top: 44px;
			color: var(--ion-color-primary-contrast);
		}
		
		ion-icon.middle{

		}
		ul{
			text-align: left;
			font-size: smaller;
		}
		li{
			list-style:none;
		}

	}
	.start {
		ion-icon{
			left: -20px;
			transition: background-size 0.25s ease-in;
			background-image: linear-gradient(to right, var(--ion-color-primary) 0%, var(--ion-color-primary));
		}
		.bottomPart {
			position:relative;
			left: -61px;
		}
		.line{
			background-image:linear-gradient(to right, var(--ion-color-primary-shade) 0%, var(--ion-color-primary))
		}
	}
	.end{
		ion-icon{
			left: 40px;
		}
		.bottomPart {
			position:relative;
			left: 40px;
		}
		.line{
			background-image:linear-gradient(to right, var(--ion-color-primary) 0%, var(--ion-color-secondary))
		}
	}
	ion-icon:hover{
		box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
	}
	.circular{
		width:170px;
	}
	.circular-progress {
		position: relative;
		display: inline-block;
		margin-right: 20px;
	}

	.circular-progress-circle {
		position: relative;
		width: 180px;
		height: 180px;
		background: transparent;
		border-radius: 50%;
		overflow: hidden;
	}
	.circular-progress-circle-right{
		position: relative;
		left: -90px;
		top: 50px;
	}
	.circular-progress-circle-left{
		position: relative;
		left: -90px;
		top: -90px;
	}
	.circular-progress-circle-left-bottom{
		position: relative;
		right:-87px;
		top: 50px;
	}

	.circular-progress-circle-right-bottom{
		position: relative;
		left: 87px;
		top: -90px;
	}

	.segment {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100vw;
		height: 100vw;
		background:  var(--ion-color-primary);;
		transform-origin: 0 0;
	}

	.circular-progress-inner {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 100px;
		height: 100px;
		transform: translateX(-50%) translateY(-50%);
		background: #fff;
		border-radius: 50%;
	}