<ion-content>
	<ion-list>
		<ion-item button (click)="navigateToProfile()">
			<ion-label>{{'COMMON.Profile' | translate}}</ion-label>
		</ion-item>
		<ion-item button  lines="none"href="mailto:contact@entrepreneur-studio.com">
			<ion-label>{{'COMMON.ContactUs' | translate}}</ion-label>
		</ion-item>
		<ion-item button  [routerLink]="['/cgu']">
			<ion-label>{{'COMMON.CGU' | translate}}</ion-label>
		</ion-item>
		<ion-item button (click)="presentPartnersPopover()" >
			<ion-label>{{'LANDINGPAGE.Title3' | translate}}</ion-label>
		</ion-item>
		<ion-item lines="none" button (click)="logout()">
			<ion-label>{{'COMMON.Logout' | translate}}</ion-label>
		</ion-item>
	</ion-list>
</ion-content>