.welcomePicture{
	width: 50%;
	max-height: 150px;
	@media(max-width: 800px) {
		max-height: 100px;
	}
}
.title{
	margin-top:0px;
	color: var(--ion-color-primary-shade);
}
.skipThisStep{
	text-decoration: underline;
	font-size: 0.8em;
	color: var(--ion-color-primary);

}
.fullWidth{
	width: 100%;
}
.pointer{
	cursor: pointer;
}
.input{
	--background: var(--ion-color-light);
	--border-radius	: 5px;
	width: 100%;
	--inner-border-width:0px!important;
	--border-width:0px!important;
}
.avatar{
	border-radius: 50%;
	width:30px;
	cursor: pointer;
}
.teamMemberCol{
	max-width: 400px;
}
.teamMember{
	min-width:300px;
	max-width:400px;
	@media(max-width: 800px) {
		min-width:0px;

	}
}
.select{
	@media(max-width: 800px) {
		min-width:100%;
	}
}
.onboardingSlides{
	--bullet-background: var(--ion-color-dark)!important;

}
.listDomain{
	max-height: 300px;
	@media(max-width: 800px) {
		max-height: 150px;

	}
	overflow: overlay;
	padding-right: 20px;

}

.divider{
	--background: var(--ion-color-primary-contrast);
	font-weight: normal;
	font-size: small;
}
.closeItem{
	position: fixed;
	width: 100%;
	right: 12px;
	z-index:3;
	--background: none;
}