<ion-content>
	<ion-item lines="none" >
		<ion-icon color="primary" slot="end" name="close-outline" class="pointer" (click)="dismiss()"></ion-icon>
	</ion-item>
	<div class="ion-margin-top ion-margin-bottom fullWidth ion-padding">
		<div class="ion-text-center ">
			<img src="./assets/images/undraw_add_post_64nu.svg" class="picture">
		</div>
		<ion-text class="ion-text-center ion-padding title"><h1>{{'ADDTOOL.Title' | translate}}</h1></ion-text>
		<h2 class="ion-text-uppercase">{{'ADDTOOL.SubTitle' | translate}}</h2>
		<ion-item>
			<ion-label color="primary" position="floating">{{'ADDTOOL.Name' | translate}}</ion-label>
			<ion-input [(ngModel)] ="tool.name"  ></ion-input>
		</ion-item>
		<ion-item>
			<ion-label color="primary" position="floating">{{'ADDTOOL.Description' | translate}}</ion-label>
			<ion-textarea [(ngModel)] ="tool.description"  rows="3"></ion-textarea>
		</ion-item>
		<ion-item>
			<ion-label color="primary" position="floating">{{'ADDTOOL.Link' | translate}}</ion-label>
			<ion-input [(ngModel)] ="tool.link"  ></ion-input>
		</ion-item>
		<div class="filter ion-margin-bottom">
			<div class="filterHeader ion-padding" >
				<ion-text >{{'TOOLS.Stages' | translate}} ({{stages.length}})</ion-text>
			</div>
			<ion-list  class="filterContent">
				<ion-item *ngFor="let stage of stages">
					<ion-label>{{stage.name}}</ion-label>
					<ion-checkbox slot="start" (ionChange)="selectFilter('stage', stage,$event)"></ion-checkbox>
				</ion-item>
			</ion-list>
		</div>
		<div class="filter ion-margin-bottom">
			<div class="filterHeader ion-padding">
				<ion-text >{{'TOOLS.Categories' | translate}}  ({{categories.length}})</ion-text>

			</div>
			<ion-list  class="filterContent">
				<ion-grid>
					<ion-row>
						<ion-col *ngFor="let category of categories">
						<ion-item lines="none">
							<ion-label class="ion-text-wrap">{{category.name}}</ion-label>
							<ion-checkbox slot="start" (ionChange)="selectFilter('category', category,$event)" ></ion-checkbox>
						</ion-item>
					</ion-col>

				</ion-row>
			</ion-grid>

		</ion-list>
	</div>

<div class="ion-margin-top ion-margin-bottom ion-text-center">
	<ion-button color="primary" (click)="send()">{{'ADDTOOL.Send' | translate}}</ion-button>
</div>
</div>
</ion-content>