<ion-content>
	<div class="topPart">
		<ion-item lines="none"  class="closeItem">
			<ion-icon  slot="end" name="close-outline" class="pointer" (click)="dismiss()"></ion-icon>
		</ion-item>
		<h1 class="ion-text-center">{{'RESOURCES.AddResourcePopoverTitle' | translate}}</h1>
	</div>
	<ion-segment (ionChange)="segmentChanged($event)" value="application">
		<ion-segment-button value="application">
			<ion-label class="ion-hide-md-down">{{'RESOURCES.AddResourcePopoverTabApplication' | translate}}</ion-label>
			<ion-label class="ion-hide-md-up">{{'RESOURCES.AddResourcePopoverTabApplicationShort' | translate}}</ion-label>
		</ion-segment-button>
		<ion-segment-button value="link">
			<ion-label class="ion-hide-md-down">{{'RESOURCES.AddResourcePopoverTabLink' | translate}}</ion-label>
			<ion-label class="ion-hide-md-up">{{'RESOURCES.AddResourcePopoverTabLinkShort' | translate}}</ion-label>

		</ion-segment-button>
	</ion-segment>
	<ion-slides  #slides pager="true" [options]="slideOpts" class="slides"(ionSlideWillChange)="updateStep()" *ngIf="selectedButton ==='application'">
		<ion-slide  >

			<div class="filter ion-padding ion-text-left">
				<ion-item  lines ="none" >
					<ion-input type="text" placeholder="{{'TOOLS.ProductNamePlaceholder' | translate}} " class="productNameInput ion-padding-start" clearInput="true" value="clear me" [(ngModel)]="filter.productName" (ionInput)="updateList()"> </ion-input>
				</ion-item>
			</div>
			<div class="gridsWrapper">
				<ion-grid class="gridTools"  *ngIf="activeIndex ===0" >
					<ion-row>
						<ion-col  *ngFor="let tool of tools" [ngClass]="{'ion-hide': tool.filtered ===true} " size="3" class="toolCol" (click)="selectApplication(tool)">

							<ion-card class="tool" >

								<div class="logoWrapper"  [ngStyle]="{'background-image': 'url(' + tool.imgUrl + ')'}">
								</div>

								<ion-card-content class="toolCard">

									<ion-item slot="start"  lines="none">

										<ion-label>
											<h1>{{tool.name}}</h1>
											<p class="ion-text-wrap ion-text-justify description">{{tool.description}}</p>
											<ion-text class="bold">{{tool.price}}</ion-text>
										</ion-label>
									</ion-item>
									<ion-item>
										<div class="ion-justify-content-start labels">
											<div  *ngFor="let label of tool.labels " class="ion-align-self-start label">
												<ion-text class="ion-text-uppercase">{{'TOOLS.CATEGORIES.'+label.label | translate}}  </ion-text>
											</div>
										</div>
									</ion-item>
								</ion-card-content>
							</ion-card>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>
		</ion-slide>
		
		<ion-slide  >

			<div class="wrapper ion-text-center">

				<p class="informationBox ion-padding ion-text-left ion-margin">{{'RESOURCES.AddResourceUrlText' | translate}} {{selectedApplication.name}} </p>
				<ion-item >
					<ion-input type="url" [placeholder]="selectedApplication.link" class="ion-padding-start" clearInput="true" value="clear me" [(ngModel)]="selectedApplicationUrl"> </ion-input>
				</ion-item>
				<ion-button class="ion-margin-top" (click)="updateResource()" [disabled]="selectedApplicationUrl ==='' || selectedApplicationUrl === null">{{'RESOURCES.AddResourceOKButton' | translate}} </ion-button>
			</div>
		</ion-slide>
	</ion-slides>

	<div class="ion-text-center"  *ngIf="selectedButton ==='link'">

		<p class="informationBox ion-padding ion-text-left ion-margin"> {{'RESOURCES.AddResourceFreeLink' | translate}} </p>
		<ion-item >
			<ion-input type="url" placeholder="{{'RESOURCES.AddResourceUrlTextPlaceholder' | translate}}" class="ion-padding-start"  [(ngModel)]="selectedApplicationUrl"> </ion-input>
		</ion-item>
		<ion-button class="ion-margin-top" (click)="updateResource()" [disabled]="selectedApplicationUrl ==='' || selectedApplicationUrl === null">{{'RESOURCES.AddResourceOKButton' | translate}} </ion-button>
	</div>
</ion-content>
