<app-header></app-header>

<ion-content class="content">
  <div class="wave">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#3880ff" fill-opacity="1" d="M0,192L40,192C80,192,160,192,240,192C320,192,400,192,480,208C560,224,640,256,720,245.3C800,235,880,181,960,144C1040,107,1120,85,1200,112C1280,139,1360,213,1400,250.7L1440,288L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path></svg>
  </div>
  <ion-grid class="projectList">
    <ion-row >
      <ion-col  sizeLg="4" sizeMd="4" sizeXs="6">
        <ion-card class="cardProject">
          <ion-card-content class="ion-text-center  cardProjectContent" (click)="startNewProject()">
            <ion-icon name="add-outline" color="primary" class="iconNewProject"></ion-icon>
            <h2>{{'ENTREPENEUR.StartProject' | translate }}</h2>

          </ion-card-content>
          <ion-row class="cardfooter ion-padding-start">
            <ion-col>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>

      <ion-col  sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let project of projects">
        <ion-card class="cardProject" >
          <ion-card-content class="ion-text-center  cardProjectContent" [routerLink]="['/project/'+project.projectId]">
            <img [src]="project.data.summary.logoUrl" *ngIf="project.data.summary.logoUrl !==''" class="ion-margin-end ion-padding projectLogo" />
            <ion-icon name="cube-outline" *ngIf="project.data.summary.logoUrl ===''"  class="ion-margin-end defaultLogo" ></ion-icon>
            <h2>{{project.data.summary.name}}</h2>

          </ion-card-content>
          <ion-row class="cardfooter ion-padding-start">
            <ion-col>
              <ion-icon *ngIf="project.data.ownerUid === userIds.uid" name="trash-outline" color="primary" (click)="requestRemoveProject(project.projectId,project.data.summary.name)"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
