<app-header></app-header>

  <ion-content>

  	<ion-grid class="projectList">
  		<ion-row >
        <ion-col  sizeLg="4" sizeMd="4" sizeXs="6">
          <ion-card class="cardProject">
            <ion-card-content class="ion-text-center  cardProjectContent" (click)="startNewProject()">
              <ion-icon name="add-outline" color="primary" class="iconNewProject"></ion-icon>
              <h2>{{'ENTREPENEUR.StartProject' | translate }}</h2>

            </ion-card-content>
            <ion-row class="cardfooter ion-padding-start">
              <ion-col>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>

        <ion-col  sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let project of projects">
          <ion-card class="cardProject" >
            <ion-card-content class="ion-text-center  cardProjectContent" [routerLink]="['/project/'+project.projectId]">
              <img [src]="project.data.summary.logoUrl" *ngIf="project.data.summary.logoUrl !==''" class="ion-margin-end ion-padding projectLogo" />
              <ion-icon name="cube-outline" *ngIf="project.data.summary.logoUrl ===''"  class="ion-margin-end defaultLogo" ></ion-icon>
              <h2>{{project.data.summary.name}}</h2>

            </ion-card-content>
            <ion-row class="cardfooter ion-padding-start">
              <ion-col>
                <ion-icon name="trash-outline" color="primary" (click)="requestRemoveProject(project.projectId)"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
