
<ion-content >
  <div class="topPart ion-padding">
    <ion-text class="ion-text-center"><h1>{{'PARTNERS.Title' | translate}}</h1></ion-text>
    <ion-text><p>{{'PARTNERS.SubTitle2' | translate}}</p></ion-text>
    <ion-text><p>{{'PARTNERS.SubTitle3' | translate}}</p></ion-text>
  </div>
  <div class="ion-padding">
   <ion-item>
     <ion-label>{{'PARTNERS.Name' | translate}}<ion-text color="danger">*</ion-text></ion-label>
     <ion-input type="text"  name= "name" [(ngModel)]="partnerRequest.name"  required></ion-input>
   </ion-item>
   <ion-item>
     <ion-label>{{'PARTNERS.Email' | translate}}<ion-text color="danger">*</ion-text></ion-label>
     <ion-input type="text" name="email" [(ngModel)]="partnerRequest.email" ></ion-input>
   </ion-item> 
   <ion-item>
    <ion-label>{{'PARTNERS.Activity' | translate}}<ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="text" name="activity" [(ngModel)]="partnerRequest.activity" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{'PARTNERS.Description' | translate}}<ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="text" name="description" [(ngModel)]="partnerRequest.description" ></ion-input>
  </ion-item>


</div>
<div class="ion-text-center ion-margin-bottom">
  <ion-button  color="primary" class="" (click)="submitForm()" >
    <ion-icon name="paper-plane-outline" class="ion-margin-end"></ion-icon>
    {{'PARTNERS.Send' | translate}}
  </ion-button>
</div>
</ion-content>
