<ion-content class="ion-padding">
	<ion-item lines="none">
		<ion-icon color="primary" slot="end" name="close-outline" class="pointer" (click)="dismiss()"></ion-icon>
	</ion-item>
	<div class="ion-text-center ion-padding"><img src="./assets/images/undraw_shared_workspace_hwky.svg" class="welcomePicture"></div>
	<ion-text class="ion-text-center ion-padding title"><h1>{{'TEAM.AddMemberTitle' | translate}}</h1></ion-text>
	<p class="ion-text-uppercase"><ion-text>{{'TEAM.AddMemberSubTitle' | translate}}</ion-text></p>
	<ion-item class="ion-margin-bottom">
		<ion-label position="floating" >{{'TEAM.Email' | translate}}</ion-label>
		<ion-input placeholder="nouveauMembre@gmail.com" type="text"  [(ngModel)] ="teamMember.email"></ion-input>
	</ion-item>
	<ion-item lines="none" *ngIf="displayErrorAlreadyMember ===true">
		<ion-icon color="danger"  name="warning-outline" class="ion-margin-end"></ion-icon>
		<ion-text color="danger" >{{'TEAM.ErrorMemberAlreadyExists' | translate}}</ion-text>
	</ion-item>
	<ion-button size="full" (click)="addNewMember()">
		<ion-icon name="paper-plane-outline" class="ion-margin-end"></ion-icon>
		<ion-text>{{'TEAM.SendRequestButton' | translate}}</ion-text>
	</ion-button>
</ion-content>