  <ion-header [translucent]="true">
  	<ion-toolbar>
  		<ion-menu-button  menu="mainMenu2">
  		</ion-menu-button>
  		<ion-title  class="headerTitle">
  			<img src="assets/images/logo.svg" class="logo ion-margin-end"  [routerLink]="['/entrepreneur']">
  			<span  [routerLink]="['/entrepreneur']">{{'LANDINGPAGE.Title' | translate}}</span>
  		</ion-title>
  		<app-user-avatar slot="end"></app-user-avatar>
  	</ion-toolbar>
  </ion-header>
  <ion-content>
  	<ion-split-pane contentId="admin-content"  class="sideMenu" menuId="mainMenu2">
  		<ion-menu contentId="admin-content" side="start" >
  			<ion-content>
  				<ion-list >
  					<ion-item *ngFor="let p of pages; let i = index" (click)="redirectTo(p.url)" lines="none" >
  						<ion-icon color="primary" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
  						<ion-label> {{p.title}}</ion-label>
  					</ion-item>		
  				</ion-list>

  			</ion-content>
  		</ion-menu>
  		<ion-router-outlet id="admin-content"></ion-router-outlet>
  	</ion-split-pane>
  </ion-content>
