<ion-content>
	<ion-tabs>
		<ion-tab-bar slot="top">
			<ion-tab-button tab="summary" >
				<ion-icon name="speedometer-outline"></ion-icon>
				<ion-label>{{'EXECUTIVE.Dashboard' | translate }}</ion-label>
			</ion-tab-button>
			<ion-tab-button tab="timeline" >
				<ion-icon name="calendar-outline"></ion-icon>
				<ion-label  class="">{{'EXECUTIVE.Timeline' | translate }}</ion-label>
			</ion-tab-button>
			<ion-tab-button tab="team">
				<ion-icon name="people-circle-outline"></ion-icon>
				<ion-label>{{'EXECUTIVE.Team' | translate }}</ion-label>
				<ion-badge>{{teamMembers.length}}</ion-badge>

			</ion-tab-button>
			<ion-tab-button tab="resources" >
				<ion-icon name="grid-outline"></ion-icon>
				<ion-label>Applications</ion-label>
				<ion-badge>{{resources.length}}</ion-badge>

			</ion-tab-button>

			<ion-tab-button  (click)="openFeedbackPopover('finance')">
				<ion-icon name="briefcase" class="disabledIcon"></ion-icon>	
				<ion-label  class="disabledIcon">Finances</ion-label>
			</ion-tab-button>

			<ion-tab-button (click)="openFeedbackPopover('other')">
				<ion-icon name="ellipsis-horizontal-circle"  class="disabledIcon"></ion-icon>	
				<ion-label  class="disabledIcon">Autre </ion-label>
			</ion-tab-button>
		</ion-tab-bar>
	</ion-tabs>
</ion-content>
