

<ion-content>
	<ion-tabs>
		<ion-tab-bar slot="top">
			<ion-tab-button tab="summary" >
				<ion-icon name="speedometer-outline"></ion-icon>
				<ion-label>{{'EXECUTIVE.Dashboard' | translate }}</ion-label>
			</ion-tab-button>
			<ion-tab-button tab="team">
				<ion-icon name="people-circle-outline"></ion-icon>
				<ion-label>{{'EXECUTIVE.Team' | translate }}</ion-label>
				<ion-badge>{{teamMembers.length}}</ion-badge>

			</ion-tab-button>

			<ion-tab-button tab="achievements" disabled>
				<ion-icon name="medal-outline"></ion-icon>
				<ion-label>Achievements</ion-label>
			</ion-tab-button>

			<ion-tab-button tab="metrics" disabled>
				<ion-icon name="pulse-outline"></ion-icon>	
				<ion-label>Metrics</ion-label>
			</ion-tab-button>

			<ion-tab-button tab="todo" disabled>
				<ion-icon name="list-outline"></ion-icon>	
				<ion-label>Todo</ion-label>
			</ion-tab-button>
			<ion-tab-button tab="evolution" disabled>
				<ion-icon name="analytics-outline"></ion-icon>
				<ion-label>Evolution</ion-label>
			</ion-tab-button>
			
		</ion-tab-bar>
	</ion-tabs>
</ion-content>
