.ngselect{
	max-width: 	450px;
	@media(max-width: 600px) {
		max-width:100%;
	}


}



.priceIcon{
	font-size: 24px;
	position: relative;
	top: 5px;
	margin-right: 10px;
}
.description{
	height: 110px;
	text-overflow: ellipsis;
	font-size: 0.9em;
	line-height: 1.1em;
	@media(max-width: 400px) {
		height:100px;
	}
}
.labels{
	display: flex;
	flex-wrap: wrap;
}
.label{
	max-width:130px;
	border-radius: 	2px;
	margin:0px 6px 6px 0px ;
	padding:0px 6px 0px 6px ;
	text-overflow: ellipsis;
	font-size: 	10px;
	text-align: center;	
	color: var(--ion-color-primary-contrast);
	background-color:   var(--ion-color-primary);


}
.bold{
	font-weight:bold;
}
.toolsGridLayout{
	.toolsContent{
		min-width:300px;
		.toolsContentHeaderWrapper{
			position: sticky;
			top: 0px;
			z-index: 3;
			background-color: #fffcfcbf;
			.toolsContentHeader{
				@media(min-width:610px) {
					width: 100%;
					max-width: 100%;
					min-width: 100%;

				}
			}

		}

		ion-searchbar{
			@media(max-width:610px) {
				padding:0px;
			}
		}

	}

	.categories{
		min-width:200px;
		max-width: 300px;	
		@media(max-width:610px) {
			width:100%;
			max-width:100%;

		}
		.filterWrapper{
			@media(min-width:610px) {
				position:fixed;
				min-width:200px;
				max-width: 300px;
			}
		}		
	}
}

.filter{
	@media(max-width:610px) {
		margin-bottom: 	5px;
	}
	.filterHeader{
		color: var(--ion-color-primary-contrast);
		background-color: var(--ion-color-primary);
		width:100%;
		cursor:pointer;
		ion-icon{
			text-align: right;
			position: absolute;
			right: 18px;
			font-size: 	20px;
		}
	}
	.filterContent{
		max-height: 500px;
		overflow: 	auto;
	}
}

.toolsNumber{
	padding: 12px;
	color: var(--ion-color-dark);

	span{
		padding-left: 5px;
		font-weight: bold;
		padding-right: 5px;
		background-repeat: no-repeat;
		background-size: 100% 0.2em;
		background-position: 0 88%;
		font-size:1.4em;
		transition: background-size 0.25s ease-in;
		background-image: linear-gradient(to right, var(--ion-color-secondary) 0%, var(--ion-color-secondary));

		color: var(--ion-color-dark);
	}
}
.shareButton{
	position:absolute;	
	right:3px;
}
.gridTools{
	margin-left: auto;
	margin-right: auto;
	.toolCol{
		min-width:350px;
		max-width: 400px;
	}
	.toolCard{
		padding:0px;
	}
	.logoWrapper{
		width: 	100%;
		height:200px;
		background-size: cover;
		overflow: hidden;
		background-position: center;
		background-repeat: no-repeat;

	}
	@media(max-width:1200px) {
		max-width:1060px;
		
	}
	@media(max-width: 800px) {
		.toolCol{
			--width:100%;
			min-width:100%;
		}
		ion-card{
			margin: 2px;
		}
		ion-card-content{
			padding: 0px;
		}
		.logoWrapper{
			max-height: 100px;
			float: left;
			max-width: 20%;
			margin: 12px;
			background-size: contain;
			background-position-y: top;
		}
		.description{
			height:auto;
			font-size:0.8em;
		}
	}
	.loadingCol{
		padding-top:30px;
	}	
	.likeButton{
		position:absolute;	
		top:3px;
		right:3px;
		ion-icon{
			margin-right: 12px;
		}
	}
}
.gridToolsListView{
	.toolCol{
		--width:100%;
		min-width:100%;
	}
	.toolCard{
		padding:0px;
	}
	.logoWrapper{
		max-height: 100px;
		float: left;
		max-width: 20%;
		margin: 12px;
		background-size: contain;
		background-position-y: top;

	}
	.description{
		height:auto;
	}
	ion-label{
		min-height:100px;
		.likes{
			font-size:12px !important;
		}
	}
	ion-notes{
		width:130px;
		padding-right:20px;
		border-left: 1px solid var(--ion-color-medium);
	}
	.shareButton{
		position:initial;
	}
}

.header{
	position: fixed;
	background: var(--ion-color-primary-contrast);
	z-index:3;
	width:100%;
	@media(max-width: 800px) {
		position: unset;

	}
}
.filter{
	ion-col{
		min-width:350px;
		padding:0px;
		@media(max-width: 800px) {
			min-width:100%;

		}
	}
	
}
.specialInput{
	position: relative;
	left: -5px;
	top:-6px;
	ion-input{
		--padding:7px!important;
		height:38px
	}
}
.ng-select{
	margin-top: 0px;
}
.productNameInput{
	border-radius: 4px;
	border: 1px solid;
	border-color: #b3b3b3 #ccc #d9d9d9;
	--padding-start:12px!important;
	

}
.addTool{
	text-decoration: underline;
	color:var(--ion-color-primary);
}

.share{
	position:fixed;
	z-index:10;
	right:40px;
	top:200px;
	width:30px;
}


ion-fab-button{

	@media(max-width: 800px) {
		width:20px;
		height:20px;
		--background: var(--ion-color-primary);
		--color	: var(--ion-color-primary);
	}
}

.thumbIcon{
	margin-right:6px;
}

.likes{
	margin:0px;
	ion-icon{
		background: var(--ion-color-primary);
		--color	: var(--ion-color-primary-contrast);
		color: var(--ion-color-primary-contrast);
		border-radius: 	50%;
		padding:6px;
		margin-right: 5px;
	}
	span{
		position:relative;
		top:-7px;
	}
}
.sharePopoverComponent{
	--width: auto;
}
.toggleViewMode{
	max-width:84px;
	.toggleViewModeWrapper{
		position: relative;
		top: 14px;
		border-radius: 4px;
		padding-bottom: 0px;
		height: 34px;
		width: fit-content;
	}
	ion-icon{
		font-size:24px;
		border-radius: 4px;
		color:var(--ion-color-medium);
		padding:3px;
		cursor: pointer;
	}
	ion-icon:hover{
		background: var(--ion-color-primary-tint);
		color: var(--ion-color-primary-contrast);


	}
	.first{
		margin-right:5px;

	}
	.selected{
		background:var(--ion-color-primary);
		color: var(--ion-color-primary-contrast);
	}
}