.ngselect{
	max-width: 	450px;
	@media(max-width: 600px) {
		max-width:100%;
	}


}



.priceIcon{
	font-size: 24px;
	position: relative;
	top: 5px;
	margin-right: 10px;
}
.description{
	height: 110px;
	text-overflow: ellipsis;
	font-size: 0.9em;
	line-height: 1.1em;
	@media(max-width: 400px) {
		height:100px;
	}
}
.labels{
	display: flex;
	flex-wrap: wrap;
}
.label{
	max-width:130px;
	border-radius: 	2px;
	margin:0px 6px 6px 0px ;
	padding:0px 6px 0px 6px ;
	text-overflow: ellipsis;
	font-size: 	10px;
	text-align: center;	
	color: var(--ion-color-primary-contrast);
	background-color:   var(--ion-color-primary);


}
.bold{
	font-weight:bold;
}
.toolsGridLayout{
	.toolsContent{
		min-width:300px;


	}
	.categories{
		min-width:200px;
		max-width: 300px;	
		@media(max-width:610px) {
			width:100%;
			max-width:100%;

		}		
	}
}
ion-searchbar{
	@media(max-width:610px) {
		padding:0px;
	}
}
.filter{
	@media(max-width:610px) {
		margin-bottom: 	5px;
	}
	.filterHeader{
		color: var(--ion-color-primary-contrast);
		background-color: var(--ion-color-primary);
		width:100%;
		cursor:pointer;
		ion-icon{
			text-align: right;
			position: absolute;
			right: 18px;
			font-size: 	20px;
		}
	}
	.filterContent{
		max-height: 500px;
		overflow: 	auto;
	}
}

.gridTools{
	margin-left: auto;
	margin-right: auto;
	.toolCol{
		min-width:350px;
		max-width: 400px;
	}
	.toolCard{
		padding:0px;
	}
	.logoWrapper{
		width: 	100%;
		height:200px;
		background-size: cover;
		overflow: hidden;
		background-position: center;
		background-repeat: no-repeat;

	}
	@media(max-width:1200px) {
		max-width:1060px;
		
	}
	@media(max-width: 800px) {
		.toolCol{
			--width:100%;
			min-width:100%;
		}
		ion-card{
			margin: 2px;
		}
		ion-card-content{
			padding: 0px;
		}
		.logoWrapper{
			max-height: 100px;
			float: left;
			max-width: 20%;
			margin: 12px;
			background-size: contain;
			background-position-y: top;
		}
		.description{
			height:auto;
			font-size:0.8em;
		}
	}
	.loadingCol{
		padding-top:30px;
	}	
}

.header{
	position: fixed;
	background: var(--ion-color-primary-contrast);
	z-index:3;
	width:100%;
	@media(max-width: 800px) {
		position: unset;

	}
}
.filter{
	ion-col{
		min-width:350px;
		padding:0px;
		@media(max-width: 800px) {
			min-width:100%;

		}
	}
	
}
.specialInput{
	position: relative;
	left: -5px;
	top:-6px;
	ion-input{
		--padding:7px!important;
		height:38px
	}
}
.ng-select{
	margin-top: 0px;
}
.productNameInput{
	border-radius: 4px;
	border: 1px solid;
	border-color: #b3b3b3 #ccc #d9d9d9;
	--padding-start:12px!important;
	

}
.addTool{
	text-decoration: underline;
	color:var(--ion-color-primary);
}

.share{
	position:fixed;
	z-index:10;
	position:absolute;
	right:40px;
	top:200px;
	width:30px;
}

.shareFabButton{
	margin-top:12px;
	z-index:2;
	@media(max-width: 800px) {
		margin-top:-8px;
		margin-right:-8px;

	}
}
ion-fab-button{
	@media(max-width: 800px) {
		width:20px;
		height:20px;
		--background: var(--ion-color-primary);
		--color	: var(--ion-color-primary);
	}
}