.noPaddingGrid{
	padding:0px;

}
.separator{
	border-top:2px solid var(--ion-color-medium);
	margin-top:30px;
}
.socialLoginButtons{
	max-width:180px;
}
.socialLoginButton{
	margin-left: auto;
	margin-right: auto;
	--box-shadow: none;
}
.topPart{
	background: var(--ion-color-primary);
	color:var(--ion-color-primary-contrast);
}
.promptSignUp h3{
	@media(max-width: 800px) {
		font-size:0.8em
		}
}
.socialMediaText p{
	width: fit-content;
	position: relative;
	top: -10px;
	background: var(--ion-color-primary-contrast);
	margin: auto;
	padding-left:12px;
	padding-right:12px;
}
.form{

}
.forgotPassword{
	position: relative;
	top: -10px;
	font-size: 0.7em;
	margin-right:12px
}

.closeItem{
	--background: var(--ion-color-primary);
	.pointer{
		color:var(--ion-color-primary-contrast);
		cursor: pointer;
	}
}
.noAccountTextLink{
	color:var(--ion-color-primary-contrast);
	text-decoration: underline;
}
.mailLogin{
	background: var(--ion-color-light);
	border-radius: 3px;
	border-top:1px solid var(--ion-color-medium);
	.item{
		--background: var(--ion-color-light);
	}
	@media(min-width: 800px) {
		margin-top:80px;
		}
}

.centerWrapper{
	max-width: 1000px;
	margin-left:auto;
	margin-right: auto;
}