<ion-content>
	<ion-grid class="teamMembers">
		<ion-row>
			<ion-col *ngFor="let teamMember of teamMembers">
				<ion-card class="teamMember">
					<ion-card-content class="ion-text-center">
						<ion-avatar *ngIf="teamMember.profile !== undefined && teamMember.profile.photoUrl !== undefined" class="avatar ion-margin-bottom">
							<img [src]="teamMember.profile.photoUrl" >
						</ion-avatar>
						<ion-avatar *ngIf="teamMember.profile === undefined || teamMember.profile.photoUrl === undefined" class="avatar ion-margin-bottom">
							<ion-icon color="primary" class="iconUnknown" name="person-circle-outline"></ion-icon>
						</ion-avatar>
						<div class="linkedInWrapper">
							<div *ngIf="teamMember.profile !== undefined">
								<div *ngIf="teamMember.profile.linkedInUrl !== undefined">
									<a [href]="teamMember.profile.linkedInUrl" target="_blank" *ngIf="teamMember.profile.linkedInUrl !== '' "   >LinkedIn Profile</a>
								</div>
							</div>
							
						</div>
						<div class="title">
							<h1 *ngIf="teamMember.uid && teamMember.profile" class="ion-margin-top"> 
								<ion-text>{{teamMember.profile.firstName }} {{teamMember.profile.lastName}} </ion-text>
							</h1>
							<h1 *ngIf="!teamMember.uid" class="ion-margin-top"> <ion-text  color="primary">{{teamMember.email}} </ion-text></h1>
						</div>
						<ion-item>
							<ion-select [interfaceOptions]="customAlertOptions"  placeholder="{{'TEAM.TeamMember.Role' | translate }}" [(ngModel)] ="teamMember.role"  (ionChange)="updateProfile(teamMember)" class="fullWidth selectStyle">
								<ion-select-option *ngFor="let item of roleItems" [value]="item.index">{{item.text}}</ion-select-option>
							</ion-select>
						</ion-item>
						<ion-item>
							<ion-select [interfaceOptions]="customAlertOptions" placeholder="{{'TEAM.TeamMember.Profile' | translate }}" [(ngModel)] ="teamMember.projectProfile" (ionChange)="updateProfile(teamMember)"  multiple="true"  class="fullWidth selectStyle">
								<ion-select-option  *ngFor="let item of projectProfilesItems" [value]="item.index">{{item.text}}</ion-select-option>
							</ion-select>
						</ion-item>
						<ion-item >
							<ion-label position="floating">{{'TEAM.TeamMember.Mission' | translate }}</ion-label>
							<ion-textarea [(ngModel)] ="teamMember.mission" class="fullWidth" (ionChange)="updateProfile(teamMember)"></ion-textarea>
						</ion-item>

						<ion-item lines="none">		
							<ion-button (click)="removeTeamMember(teamMember) "  *ngIf="uid !== teamMember.uid">{{'TEAM.Remove' | translate }}</ion-button>
						</ion-item>
					</ion-card-content>
				</ion-card>
			</ion-col>

			<ion-col >
				<ion-card class="teamMember teamMemberAdd" (click)="requestNewMember()">
					<ion-card-content>
						<ion-icon name="add-outline" color="primary"  class="addButton"></ion-icon>
						<h2>{{'TEAM.SendInviteText' | translate }}</h2>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>