<app-header></app-header>
<ion-content>	
	<div class="mainContent">
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-text ><h1>{{'LANDINGPAGE.MainContent' | translate}}</h1></ion-text>
					<ion-button size="large" expand="block" color="primary" class="startNowButton"  (click)="presentSignUpPopover()">{{'LANDINGPAGE.StartNow' | translate}}</ion-button>
					<ion-text><p class="freeAccess">{{'LANDINGPAGE.FreeStart' | translate}}</p></ion-text>
				</ion-col>
				<ion-col class="screenCapture">
					<img src="assets/images/screenCatpure.png">
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	<div class="subContent ion-padding" >
		<ion-card class="subContentCard">
			<ion-card-content>
				<div >
					<h1 class="subContentTitle ion-padding ion-text-center" >{{'LANDINGPAGE.subContentTitle1' | translate}}</h1>
					<ion-grid class="subContentGrid">
						<ion-row>
							<ion-col>
								<div class="subContentImg sub1" ></div>
								<h2 class="ion-text-center">{{'LANDINGPAGE.Icon1SubTitle' | translate}}</h2>
							</ion-col>
							<ion-col>
								<div class="subContentImg sub2" >
									<h2 class="ion-text-center">{{'LANDINGPAGE.Icon2SubTitle' | translate}}</h2>
								</div>
							</ion-col>
							<ion-col >
								<div class="subContentImg sub3" ></div>
								<h2 class="ion-text-center">{{'LANDINGPAGE.Icon3SubTitle' | translate}}</h2>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col class="ion-padding">
								<p>{{'LANDINGPAGE.Icon1SubText' | translate}}</p>
							</ion-col>
							<ion-col class="ion-padding">
								<p>{{'LANDINGPAGE.Icon2SubText' | translate}}</p>
							</ion-col>
							<ion-col class="ion-padding">
								<p>{{'LANDINGPAGE.Icon3SubText' | translate}}</p>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
				<ion-grid class="iconsRow" id="content1">
					<ion-row>
						<ion-col>
							<ion-icon name="lock-closed-outline"></ion-icon>
							<h2>{{'LANDINGPAGE.Icon1Title' | translate}}</h2>
							<p>{{'LANDINGPAGE.Icon1Text' | translate}}</p>
						</ion-col>
						<ion-col>
							<ion-icon name="cloud-outline"></ion-icon>
							<h2>{{'LANDINGPAGE.Icon2Title' | translate}}</h2>
							<p>{{'LANDINGPAGE.Icon2Text' | translate}}</p>
						</ion-col>
						<ion-col>
							<ion-icon name="people-outline"></ion-icon>
							<h2>{{'LANDINGPAGE.Icon3Title' | translate}}</h2>
							<p>{{'LANDINGPAGE.Icon3Text' | translate}}</p>
						</ion-col>
						<ion-col>
							<ion-icon name="phone-portrait-outline"></ion-icon>
							<h2>{{'LANDINGPAGE.Icon4Title' | translate}}</h2>
							<p>{{'LANDINGPAGE.Icon4Text' | translate}}</p>
						</ion-col>
						<ion-col>
							<ion-icon name="construct-outline"></ion-icon>
							<h2>{{'LANDINGPAGE.Icon5Title' | translate}}</h2>
							<p>{{'LANDINGPAGE.Icon5Text' | translate}}</p>
						</ion-col>
					</ion-row>
				</ion-grid>
				<div class="ion-text-center bigMargin">
					<ion-button size="large" color="primary" class=""  (click)="presentSignUpPopover()">{{'LANDINGPAGE.StartNow' | translate}}</ion-button>
				</div>
				<div class="subContent" >
					<h1 class="ion-padding ion-text-center subContentTitle " >{{'LANDINGPAGE.Content2Title' | translate}}</h1>
					<ion-grid class="pictureAndText"  >
						<ion-row>
							<ion-col>
								<img src="assets/images/undraw_profile_6l1l.svg">
							</ion-col>
							<ion-col  class="ion-padding">
								<h2>{{'LANDINGPAGE.pictureAndText1Title' | translate}}</h2>
								<p>{{'LANDINGPAGE.pictureAndText1Text' | translate}}</p>
							</ion-col>
						</ion-row>
					</ion-grid>
					<ion-grid class="pictureAndText" id="content2">
						<ion-row>
							<ion-col class="ion-padding">
								<h2>{{'LANDINGPAGE.pictureAndText2Title' | translate}}</h2>
								<p>{{'LANDINGPAGE.pictureAndText2Text' | translate}}</p>
							</ion-col>
							<ion-col>
								<img src="assets/images/undraw_our_solution_htvp.svg">
							</ion-col>
						</ion-row>
					</ion-grid>
					<ion-grid class="pictureAndText">
						<ion-row>
							<ion-col>
								<img src="assets/images/undraw_real_time_collaboration_c62i.svg">
							</ion-col>
							<ion-col  class="ion-padding">
								<h2>{{'LANDINGPAGE.pictureAndText3Title' | translate}}</h2>
								<p>{{'LANDINGPAGE.pictureAndText3Text' | translate}}</p>
							</ion-col>
						</ion-row>
					</ion-grid>
					<ion-grid class="pictureAndText" >
						<ion-row>
							<ion-col  class="ion-padding">
								<h2>{{'LANDINGPAGE.pictureAndText4Title' | translate}}</h2>
								<p>{{'LANDINGPAGE.pictureAndText4Text' | translate}}</p>
							</ion-col>
							<ion-col>
								<img src="assets/images/undraw_upgrade_06a0.svg">
							</ion-col>
						</ion-row>
					</ion-grid>

				</div>
				<div class="bottomSection ion-text-center ion-padding" >
					<a target="blank" href=" https://www.instagram.com/entrepreneur.studio" class="socialNetworkIcon ion-margin">
						<ion-icon name="logo-instagram"></ion-icon>
					</a>
					<a target="blank" href="https://www.linkedin.com/company/entrepreneur-studio" class="socialNetworkIcon ion-margin">
						<ion-icon name="logo-linkedin"></ion-icon>
					</a>
					<a target="blank" href="https://www.facebook.com/entrepreneurstudiocom" class="socialNetworkIcon ion-margin">
						<ion-icon name="logo-facebook"></ion-icon>
					</a>

					<a href="mailto:contact@entrepreneur-studio.com"><h2>{{'LANDINGPAGE.contactUs' | translate}}</h2></a>
					
				</div> 		
			</ion-card-content>
		</ion-card>
	</div>


</ion-content>
