

.removeButton{
  position:absolute;
  bottom:12px;
}
.fullWidth{
  width:100%;
}
.cursor{
  cursor: pointer;
}
.headerTitle .logo {
    max-width: 100px;
    width:auto;
    max-height: 56px;
    display: inline-block;
    vertical-align: middle;
}
.menu{
	display: inline-block;

}
.logoES{
	width:100px;
	display: inline-block;
	vertical-align:middle;
	@media(max-width: 800px) {
		width:50px;
		left:0px;
	}
}
.projectName{
    @media(max-width: 400px) {
      font-size: small;
    }

}
.projectName:hover{
  background:   var(--ion-color-light);
}