.removeButton{
  position:absolute;
  bottom:12px;
}
.fullWidth{
  width:100%;
}
.cursor{
  cursor: pointer;
}
.headerTitle .logo {
  max-width: 100px;
  width:auto;
  max-height: 36px;
  display: inline-block;
  vertical-align: middle;
}
.menu{
  width: fit-content;
  padding: 4px;
  cursor:pointer;
  ion-icon{
    position: relative;
    top: 4px;
    margin-left: 12px;
  }
}
.menu:hover{
  width: fit-content;
  background:   var(--ion-color-light);
  border-radius: 4px;

}


.logoES{
  width:100px;
  display: inline-block;
  vertical-align:middle;
  @media(max-width: 800px) {
    width:50px;
    left:0px;
  }
}
.projectName{
  @media(max-width: 400px) {
    font-size: small;
  }

}

ion-grid{
  height:100%;
  padding:0px;
  ion-row{
    height:100%;
  }

  ion-item{
    transition: 1s;
    height:40px;
    --inner-padding-start:0px;
    --inner-padding-end:0px;
    background-color:   var(--ion-color-primary-shade);
    --background:   var(--ion-color-primary-shade);
    --color:   var(--ion-color-primary-contrast);
    color:   var(--ion-color-primary-contrast);
    ion-icon{
      color:var(--ion-color-primary-contrast);

    }
    ion-icon:hover{
      transform: rotate(25deg);
      font-size:1.7em;
    }
    ion-badge{
      --background: var(--ion-color-warning);
      --color: var(--ion-color-warning-contrast);
      z-index: 3;
      height: 14px;
      font-size: 9px;
      position: relative;
      top: -10px;
      left: -4px;

    }
    ion-text{
      font-size:13px;
    }
    .withBadge{
      margin-left: 5px;
    }
    
  }
  ion-item:hover{
    --background:   var(--ion-color-primary-tint);
    background-color:   var(--ion-color-primary-tint);
    cursor:pointer;
  }
  .tint{
    --background: var(--ion-color-primary-shade);

  }
  .firstItem{

  }
  .selected{
    color: var(--ion-color-warning-tint);
    --background: var(--ion-color-primary);
    ion-icon{
      color: var(--ion-color-warning-tint);
    }
  }
  .leftMenu{
    color: var(--ion-color-primary-contrast);
    padding: 0px;
    text-align: center; 
    font-size: 23px;
    max-width:50px;
    width:50px;
    background:   var(--ion-color-primary-shade);
    transition: max-width ease 0.6s;
    box-shadow: -3px -1px 10px 3px rgb(36 15 15 / 41%);
    z-index: 4;
    .separator{ 
      border-bottom:1px solid var(--ion-color-primary);
    }
    .expandButton{
      margin-top:16px;
      cursor:  pointer;
    }

    .disabledIcon{
      color:var(--ion-color-primary-tint);
    }
    ion-item:hover{
      .disabledIcon{
        color:var(--ion-color-primary-contrast);
      }
    }

  }

  .expanded{
    max-width:250px;
    width:250px;
    box-shadow: 4px -1px 11px 0px rgb(36 15 15 / 41%);
    z-index:4;

  }
  ion-footer{
    position:absolute;
    bottom:0px;
  }

}
.trash{
  position:absolute;
  bottom:36px;
}
.shadowContent{
  box-shadow: 4px 0px 16px rgb(0 0 0 / 18%);
}

.menuIcon{
  --border-radius:50%;
  height: 45px;
  width: 45px;
  ion-icon{
    font-size:30px;
    color:var(--ion-color-primary-tint)
  }
}

.commentsCol{
  max-width:350px;
  min-width:300px;
  opacity: 1;
}
.commentsColHidden{
  max-width: 0px;
  min-width: 0px;
  display:none;
}

.imgAppIcon{
  width: 26px;
}
.appToInstall{
  filter:sepia(84%) opacity(0.6)
}
.homePageLink{
  display: inline-block;
  padding-right:12px ;
  border-right:   1px solid var(--ion-color-light);

}
.projectTitle{
  display: inline-block;
}