
<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-hide-sm-up">
      <ion-menu-button autoHide="true" >
      </ion-menu-button>
    </ion-buttons>
    <ion-title  class="headerTitle" *ngIf="projectInit === false" mode="md">
      <ion-skeleton-text animated style="width: 48%"> </ion-skeleton-text>
    </ion-title>

    <ion-title  class="headerTitle ion-hide-sm-down" *ngIf="accessRights.write === true && projectInit ===true" mode="md"> 
      <div class="menu"  (click)="presentMenuPopup($event)">
        <img  [src]="project.summary.logoUrl" *ngIf="project.summary.logoUrl !==''" class=" logo ion-margin-end cursor" />
        <ion-icon class="cursor" slot="start" name="cube-outline" *ngIf="project.summary.logoUrl ===''" ></ion-icon>
        <ion-text  class="cursor projectName"  >{{project.summary.name}}</ion-text>
        <ion-icon name="chevron-down-outline" ></ion-icon>
      </div>
    </ion-title>
    <ion-title  class="headerTitle ion-hide-sm-up" *ngIf="accessRights.write === true && projectInit ===true" mode="md"> 
      <div >
        <img  [src]="project.summary.logoUrl" *ngIf="project.summary.logoUrl !==''" class=" logo ion-margin-end " />
        <ion-icon class="" slot="start" name="cube-outline" *ngIf="project.summary.logoUrl ===''" ></ion-icon>
        <ion-text  class=" projectName"  >{{project.summary.name}}</ion-text>
      </div>
    </ion-title>
    <ion-title  class="headerTitle" *ngIf="accessRights.write === false && projectInit ===true"  [routerLink]="['/intl/fr']">
      <div class="menu ion-margin-end">
        <div class="homePageLink ion-margin-end ion-hide-sm-down">
         <img  src="assets/images/logo.svg" class="logoES ion-margin-end" *ngIf="userIds.uid ===null || userIds ===-1">
         <span  *ngIf="userIds.uid ===null ||  userIds ===-1" >{{'LANDINGPAGE.Title' | translate}}
          <ion-badge class="beta">Beta</ion-badge>
        </span> 
      </div>
      <div class="projectTitle">
        <img  [src]="project.summary.logoUrl" *ngIf="project.summary.logoUrl !==''" class=" logo ion-margin-end"  />
        <ion-icon   slot="start" name="cube-outline" *ngIf="project.summary.logoUrl ===''" ></ion-icon>
        <ion-text  class="projectName">{{project.summary.name}}</ion-text>
      </div>

      
    </div>

  </ion-title>
  <ion-buttons slot="primary" *ngIf="project && projectInit === true" >
   <ion-button  [disabled]="accessRights.write === false" (click)="presentSharingStatusPopover($event)">
    <ion-icon class="ion-margin-end cursor"  name="lock-closed-outline" *ngIf="project.sharingStatus ==='private'" class="ion-hide-md-down"></ion-icon>
    <ion-icon class="ion-margin-end cursor"  name="globe-outline" *ngIf="project.sharingStatus ==='public'" class="ion-hide-md-down"></ion-icon>
    <ion-text class="ion-hide-m-down" *ngIf="project.sharingStatus ==='private'">{{'PROJECT.Private'  | translate}}  </ion-text>
    <ion-text class="ion-hide-sm-down" *ngIf="project.sharingStatus ==='public'">{{'PROJECT.Public'  | translate}}  </ion-text>

  </ion-button>
</ion-buttons>
<app-user-avatar slot="end" *ngIf="userIds.uid !==null && userIds !==-1"></app-user-avatar>

</ion-toolbar>
</ion-header>     
<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="projectInit === false" ></ion-progress-bar>
  <ion-grid>
    <ion-row>
      <ion-col class="leftMenu ion-hide-sm-down" [ngClass]="{'expanded': expandedMenu ===true} ">
        <ion-item  [ngClass]="{'selected': isSelectedTab('summary') ===true} " class="tint firstItem item selected" lines="none" 
        tooltip="{{'PROJECT.DashboardMenuTooltip' | translate }}" [options]="tooltipOptions"  (click)="navigate('summary')" >
        <ion-icon name="speedometer-outline"></ion-icon>
        <ion-label [ngClass]="{'ion-hide': expandedMenu ===false} " class="ion-margin-start">
          <ion-text >{{'EXECUTIVE.Dashboard' | translate }}</ion-text>
        </ion-label>
      </ion-item>

      <ion-item lines="none" [ngClass]="{'selected': isSelectedTab('timeline') ===true} "
      tooltip="{{'PROJECT.TimelineMenuTooltip' | translate }}" [options]="tooltipOptions" (click)="navigate('timeline')" >
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label [ngClass]="{'ion-hide': expandedMenu ===false} " class="ion-margin-start"><ion-text >{{'EXECUTIVE.Timeline' | translate }}</ion-text></ion-label>
    </ion-item>
    <ion-item lines="none" [ngClass]="{'selected': isSelectedTab('team') ===true} " 
    tooltip="{{'PROJECT.TeamMenuTooltip' | translate }}"   [options]="tooltipOptions"  (click)="navigate('team')" >
    <ion-icon name="people-circle-outline"></ion-icon><ion-badge>{{teamMembers.length}}</ion-badge>
    <ion-label [ngClass]="{'ion-hide': expandedMenu ===false} " class="ion-margin-start withBadge"><ion-text >{{'EXECUTIVE.Team' | translate }}</ion-text></ion-label>
  </ion-item>
  <ion-item lines="none" [ngClass]="{'selected': isSelectedTab('resources') ===true} " 
  tooltip="{{'PROJECT.ApplicationMenuTooltip' | translate }}"  [options]="tooltipOptions"  (click)="navigate('resources')" >
  <ion-icon name="grid-outline"></ion-icon>
  <ion-badge>{{resources.length}}</ion-badge>
  <ion-label [ngClass]="{'ion-hide': expandedMenu ===false} " class="ion-margin-start withBadge"><ion-text >{{'EXECUTIVE.Application' | translate }}</ion-text></ion-label>
</ion-item>
<ion-item lines="none" tooltip="{{'PROJECT.FinancesMenuTooltip' | translate }}"  [options]="tooltipOptions"  (click)="openFeedbackPopover('finance')">
  <ion-icon name="briefcase-outline" class="disabledIcon"></ion-icon>
  <ion-label [ngClass]="{'ion-hide': expandedMenu ===false} " class="ion-margin-start"><ion-text >{{'EXECUTIVE.Finances' | translate }}</ion-text></ion-label>
</ion-item>
<ion-item lines="none"  tooltip="{{'PROJECT.OtherMenuTooltip' | translate }}"  [options]="tooltipOptions"  (click)="openFeedbackPopover('other')">
  <ion-icon name="ellipsis-horizontal-circle" ></ion-icon>
  <ion-label [ngClass]="{'ion-hide': expandedMenu ===false} " class="ion-margin-start"><ion-text >{{'EXECUTIVE.Other' | translate }}</ion-text></ion-label>
</ion-item>
<ion-item lines="none"  tooltip="{{'PROJECT.CommentsMenuTooltip' | translate }}"  [options]="tooltipOptions"  (click)="toggleCommentsPanel()"  *ngIf="accessRights.write === true" >
  <ion-icon name="flag-outline" ></ion-icon>
  <ion-badge *ngIf="project.commentsNumber !==undefined">{{project.commentsNumber}}</ion-badge>
  <ion-label [ngClass]="{'ion-hide': expandedMenu ===false} " class="ion-margin-start withBadge"><ion-text >{{'EXECUTIVE.Comments' | translate }}</ion-text></ion-label>
</ion-item>
<ion-item lines="none"  [ngClass]="{'selected': isSelectedTab('settings') ===true} " *ngIf="accessRights.write === true" (click)="navigate('settings')" tooltip="{{'PROJECT.SettingsMenuTooltip' | translate }}"  [options]="tooltipOptions" >
  <ion-icon name="settings-outline"></ion-icon>
  <ion-label [ngClass]="{'ion-hide': expandedMenu ===false} "  class="ion-margin-start"><ion-text >{{'EXECUTIVE.Settings' | translate }}</ion-text></ion-label>
</ion-item>
<div class="separator"></div>
<ion-item lines="none"  tooltip="{{'PROJECT.SlackMenuTooltip' | translate }}"  [options]="tooltipOptions"  target="_blank" [href]="slackUrl"  *ngIf="isSlackInstalled ===true && accessRights.write === true" >
  <ion-icon name="logo-slack"></ion-icon>
  <ion-label [ngClass]="{'ion-hide': expandedMenu ===false} " class="ion-margin-start"><ion-text >{{'EXECUTIVE.Slack' | translate }}</ion-text></ion-label>
</ion-item>
<ion-item lines="none"  tooltip="{{'PROJECT.GoogleDriveMenuTooltip' | translate }}"  [options]="tooltipOptions"  *ngIf="isGoogleDriveInstalled ===true && accessRights.write === true" [ngClass]="{'selected': isSelectedTab('drive') ===true} "  (click)="navigate('drive')">
  <ion-img src="/assets/images/driveIcon.png" class="imgAppIcon"></ion-img>
  <ion-label [ngClass]="{'ion-hide': expandedMenu ===false} " class="ion-margin-start"><ion-text >{{'EXECUTIVE.GoogleDrive' | translate }}</ion-text></ion-label>
</ion-item>
<div class="separator"></div>
<ion-item lines="none" (click)="requestRemoveProject()" *ngIf="project.ownerUid === userIds.uid">
  <ion-icon name="trash-outline"></ion-icon>
  <ion-label [ngClass]="{'ion-hide': expandedMenu ===false} " class="ion-margin-start"><ion-text >{{'EXECUTIVE.Delete' | translate }}</ion-text></ion-label>
</ion-item>
<ion-footer>

 <ion-icon name="chevron-forward-outline" (click)="expandMenu()" *ngIf="expandedMenu ===false" class="expandButton"></ion-icon>
 <ion-icon name="chevron-back-outline" (click)="expandMenu()" *ngIf="expandedMenu ===true" class="expandButton"></ion-icon>
</ion-footer>
</ion-col>
<ion-col [ngClass]="{'commentsColHidden' : commentsPanelDisplayed ===false}" class="commentsCol"  *ngIf="accessRights.write === true" >
  <app-comments [projectId]="projectId" [userIds]="userIds" (closed)="closeCommentsPanel($event)"></app-comments>
</ion-col>
<ion-col class="shadowContent" >
  <ion-router-outlet id="project-content" *ngIf="projectInit ===true"></ion-router-outlet>
</ion-col>

</ion-row>
</ion-grid>
 <!--
     <ion-router-outlet id="project-content"></ion-router-outlet>
   -->
 </ion-content>