<ion-card *ngIf="resource.data" (mouseover)="isMouseOvered=true" (mouseout)="isMouseOvered=false" >
	<ion-card-content class="ion-text-center ">
		<div>
			<a   [href]="resource.data.url" target="blank" >
				<img class="logo" [src]="resource.data.pictureUrl"  *ngIf="resource.data.pictureUrl && resource.data.pictureUrl !==''"/>
			</a>
		</div>

		<div class="noPictureWrapper" *ngIf="!resource.data.pictureUrl || resource.data.pictureUrl ===''">
			<a   [href]="resource.data.url" target="blank" >
				<ion-icon color="primary" class="noPicture" name="open-outline"></ion-icon>
			</a>
		</div>
		<a   [href]="resource.data.url" target="blank" >
			{{resource.data.url}}
		</a>

	</ion-card-content>

	<div class="cardfooter ion-padding-start">
		<ion-item  lines="none">
			<ion-label slot="start"  *ngIf="resource.data.name ==='Slack'">
				<ion-icon name="checkmark-outline" color="success"></ion-icon>
				{{'RESOURCES.Installed' | translate}}
			</ion-label>
			<ion-note slot="end">
				<ion-icon class="clickableIcon" name="trash-outline" (click)="deleteResource()" *ngIf="accessRights.write === true"></ion-icon>
			</ion-note>
		</ion-item>
	</div>
</ion-card>


