////

.cardfooter{
	border-top: 1px solid var(--ion-color-light);
}
.noPictureWrapper{
	text-align: center;
	width: 100%;
	height: 80px;
	.noPicture{
		font-size:60px;

	}
}

ion-card-content{
	height:160px;
}


.logo{
	max-width: 100%;
    height: 80px;
}