.leftSide{
	min-width:15px;
	background:var(--ion-color-primary);
	color : var(--ion-color-primary-contrast);
}
.logo{
	max-width: 	200px;
	margin-top:30px;
	margin-bottom:30px;
}
.rightColumn{
	min-width:300px;
}
.entrepreneur{
	background-color:var(--ion-color-primary);
	color:var(--ion-color-primary-contrast);
}
.incubator{
	background-color:var(--ion-color-secondary);
	color:var(--ion-color-secondary-contrast);
}
.incubatorToggle{
	--background-checked:var(--ion-color-secondary);
}
.entrepreneurToggle{
	--background-checked:var(--ion-color-primary);
}
.bold{
	font-weight:	bold;
}
.noPaddingGrid{
	padding:0px;
	height:100%;
	ion-row{
		height:100%;

	}
}
.separator{
	border-top:2px solid var(--ion-color-medium);
	margin-top:30px;
}
.socialLoginButtons{
	max-width:180px;
}
.socialLoginButton{
	margin-left: auto;
	margin-right: auto;
	--box-shadow: none;
}
.socialMediaText p{
	width: fit-content;
	position: relative;
	top: -10px;
	background: var(--ion-color-primary-contrast);
	margin: auto;
	padding-left:12px;
	padding-right:12px;
}