.leftSide{
	min-width:15px;
	background:var(--ion-color-primary);
	color : var(--ion-color-primary-contrast);
}
.logo{
	max-width: 	200px;
	margin-top:30px;
	margin-bottom:30px;
}
.typeText{
	font-size: 	larger;
}
.subText{
	font-size: 	smaller;
}
.rightColumn{
	min-width:300px;
}
.entrepreneur{
	background-color:var(--ion-color-primary);
	color:var(--ion-color-primary-contrast);
}
.incubator{
	background-color:var(--ion-color-secondary);
	color:var(--ion-color-secondary-contrast);
}
.incubatorToggle{
	--background-checked:var(--ion-color-secondary);
}
.entrepreneurToggle{
	--background-checked:var(--ion-color-primary);
}
.bold{
	font-weight:	bold;
}
.noPaddingGrid{
	padding:0px;
	height:100%;
	ion-row{
		height:100%;

	}
}
.noPadding{
	padding:0px;
}
.socialLoginButtons{
	max-width:800px;
	margin-left:auto;
	margin-right:auto;
}
.socialLoginButton{
	margin-left: auto;
	margin-right: auto;
	max-width:380px;

}
.socialMediaText p{
	width: fit-content;
	position: relative;
	top: -13px;
	font-size: 1.3em;
	background: var(--ion-color-primary-contrast);
	border-radius: 17px;
	margin: auto;
	padding-left:12px;
	padding-right:12px;
}

.message{
	border-radius: 3px;
	background: var(--ion-color-primary);
	color: var(--ion-color-primary-contrast);
}
.mailLogin{
	background: var(--ion-color-light);
	border-radius: 3px;
	border-top:1px solid var(--ion-color-medium);
	.item{
		--background: var(--ion-color-light);
	}
	@media(min-width: 800px) {
		margin-top:80px;
	}
}
.topPart{
	h1{
		margin-top:0px;
	}
	@media(max-width: 576px) {
		background: var(--ion-color-primary);
		color:var(--ion-color-primary-contrast);
	}
}
.youAreWrapper{
	max-width: 800px;
	margin-left:auto;
	margin-right:auto;
}

.closeItem{
	--background: var(--ion-color-primary-contrast);
	.pointer{
		color:var(--ion-color-primary);
		cursor: pointer;
	}
	@media(max-width: 576px) {
		--background: var(--ion-color-primary);
		.pointer{
			color:var(--ion-color-primary-contrast);
		}
	}
}

.cgu{
	font-size:0.8em;
}