<div class="cell cellClickable ion-padding"  >
	<ion-icon name="checkmark-outline"  *ngIf="elementData.length !==0" class="stepDone ion-float-right"></ion-icon>
	<h1>{{title }}</h1> 
	<div >
		<div *ngFor="let item of elementData"  > 
			<ion-badge color="primary" *ngIf="item.id  !== editedItemId" class="item ion-text-wrap" (click)="edit(item.id)">{{item.text}}
				<ion-icon name="pencil-outline" class="editIcon" (click)="openPopover(item)"> </ion-icon>
			</ion-badge>
			<ion-item class="input" *ngIf="item.id  === editedItemId" >
				<ion-input type="text" name="newItem" class="ion-text-justify" [(ngModel)]="item.text" placeholder="Enter more information here..." (ionBlur)="saveItem()" (keyup.enter)="saveItem()" >
				</ion-input>
			</ion-item>
		</div>
	</div>
	<div *ngIf="elementData.length ===0 " class="fullWidth">
		<p>{{placeholder}}</p>
	</div>
	<ion-item class="input" [ngClass]="{'ion-hide' : newItem.display === false}" >
		<ion-input type="text" name="newItem" class="ion-text-justify  " [(ngModel)]="newItem.text" placeholder="Enter more information here..." (ionBlur)="addItem()" (keyup.enter)="addItem()" >
		</ion-input>
	</ion-item>
	<ion-button fill="outline" class="ion-margin fillItButton" (click)="requestAddItem()"><ion-icon name="add-outline" ></ion-icon>Add new item</ion-button>
</div>

